@charset "UTF-8";

/*Configuração para o aparelho em pé*/

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}